[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "pytorch"

[packages]
fiftyone = "*"
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
ultralytics = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
